body{
    margin: 0px;
    border: 0px;
    background-image: url('../image/banner.jpg');
    background-position: center;
    background-size: cover;
    /*background-color: #000;*/
}
header{
    display: flex;
    justify-content: center;
    font-family: 'Fredericka the Great';
    font-size: 18px;
    background-color: #000;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 1000px;
}
.logo{
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
    align-items: center;
}
nav ul, nav li{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
nav ul{
    display: flex;
}
nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}
nav a:hover{
    color: yellow;
}
#banner_top{
    display: flex;
    justify-content: center;
    height: 50px;
    background-color: rgb(255, 101, 0);
    margin-top: 10px;
    font-family: 'Shadows Into Light Two', cursive;
}
.top_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}
.name{
    font-size: 20px;
    text-transform: uppercase;
}
.date{
    font-size: 18px;
    text-transform: uppercase;
}
#banner{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    height: 600px;
}
.container_banner{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.produto1{
    flex: 2;
    display: flex;
    justify-content: center;
    height: 600px;
    background-image: url('../image/produto.jpg');
    background-position: center;
    background-size: cover;
    margin: 20px;
}
.text_info{
    flex: 1;
    display: flex;
    flex-direction:column;
    justify-content: baseline;
    margin-top: 30px;
    margin-left: 550px;
}
.text_info h1{
    color: #fff;
    font-size: 50px;
    padding: 0px;
    margin: 0px;
    text-shadow: 0px 0px 10px #000;
    font-family: Arial, Helvetica, sans-serif;
}
.text_info h2{
    color: #fff;
    font-size: 25px;
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
    text-shadow: 0px 0px 10px #000;
    font-family: Arial, Helvetica, sans-serif;
}
.text_info div{
    font-size: 15px;
    width: 100px;
    margin:90px;
    padding: 5px;
    text-align: center;
    border: 2px solid rgb(255, 101, 0);
    background-color: rgb(255, 101, 0);
    border-radius: 10px;
    text-transform: uppercase;
    font-family: 'Fredericka the Great';   
}
.text_info a{
    text-decoration: none;
    color: #fff;
}
.text_info a:hover{
    color: yellow;
}
.produto2{
    flex: 1;
    height: 600px;
    background-image: url('../image/WhatsApp-Image-2020-03-20-at-13.49.59-533x800.jpeg.crdownload');
    background-position: center;
    background-size: cover;
    margin: 20px;
}
.ing_info{
    display: flex;
    flex-direction:column;
    justify-content: center;
    padding: 80px;
}
.ing_info h1{
    color: #fff;
    font-size: 40px;
    text-shadow: 0px 0px 10px #000;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.ing_info h2{
    color: #fff;
    font-size: 20px;
    text-shadow: 0px 0px 10px #000;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.ing_info div{
    font-size: 15px;
    width: 100px;
    padding: 5px;
    text-align: center;
    border: 2px solid rgb(255, 101, 0);
    background-color: rgb(255, 101, 0);
    border-radius: 10px;
    text-transform: uppercase;
    font-family: 'Fredericka the Great'; 
    margin-top: 100px;  
}
.ing_info a{
    text-decoration: none;
    color: #fff;
}
.ing_info a:hover{
    color: yellow;
}
#banner_bottom{
    display: flex;
    justify-content: center;
    height: 300px;
}
.container_bottom{
    display: flex;
    justify-content: center;
    width: 1650px;
    align-items: center;
}
.item_box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(255, 101, 0);
}
.item_box a{
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-family: 'Fredericka the Great';
   
}
.item_box i{
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
}
.item_box a:hover{
    color: yellow;
}
footer{
    display: flex;
    justify-content: center;
    font-family: 'Fredericka the Great';
    font-size: 25px;
    background-color: #000;
    color: #fff;
}
.info_footer{
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 1000px;
    border-top: 2px solid #fff;
}
.desenv{
    display: flex;
    align-items: center;
}
.desenv a{
    color: #fff;
    text-decoration: none;
}
.desenv a:hover{
    color: yellow;
}
.date_desenv{
    display: flex;
    align-items: center;
}
